@charset 'utf-8';
@import url("https://fonts.googleapis.com/css2?family=Hi+Melody&family=Noto+Sans+KR&family=Roboto&display=swap");

body {
  font-family: "Hi Melody", cursive;
  font-size: 17px;
  font-weight: 800;
  background-image: url("./images/backgroud.png");
  background-repeat: no-repeat;
  background-size: cover;
}

.title {
  text-align: center;
  font-size: 50px;
}
li {
  list-style: none;
}

#app {
  height: 100vh;
  width: 100vw;
  perspective: 2000px;
}

.list-item {
  position: fixed;
  width: 250px;
  height: 400px;
  padding: 0;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  transform-style: preserve-3d;
  transition: 0.3s;
}

.list-item li {
  position: absolute;
  top: 0;
  left: 0;
  padding: 20px;
  text-align: center;
  width: 100%;
  height: 100%;
  box-shadow: 5px 3px 3px rgb(231, 231, 231);
  border-radius: 10px;
  box-sizing: border-box;
  backface-visibility: hidden;
  background-color: white;
}

.list-item li h2 {
  font-size: 20px;
}
.list-item li img {
  object-fit: contain;
  width: 100px;
}

.front {
  position: absolute;
  background: blanchedalmond;
  transform: rotateY(0deg);
}
.back {
  background: aqua;
  transform: rotateY(-180deg);
}

.container:hover .front {
  transform: rotateY(180deg); /*y축을 기준으로 180도까지회전*/
}
.container:hover .back {
  transform: rotateY(0deg); /*y축을 기준으로 0도 까지회전*/
}
